<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
          <th>Population</th>
          <th>Languages</th>
          <th>Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries">
          <td>
            {{ country.name.common }}
          </td>
          <td>
            {{ country.region }}
          </td>
          <td>
            {{ country.population | number : "1.0" : "en-US" }}
          </td>
          <td>
            <ul>
              <li *ngFor="let lang of country.languages | keyvalue">
                {{ lang.value }}
              </li>
            </ul>
          </td>
          <td>
            <img class="list-flag" src="{{ country.flags.svg }}" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
